/* Main tabs or main menu */
.nav-tabs>li {
	float: none;
	display: inline-block !important;
}

.nav-tabs>li>a {
	padding: 0 !important;
}

.nav-tabs>.active>a,
.nav-tabs>.active>a:hover,
.nav-tabs>.active>a:focus {
	border-bottom: 5px solid #e6e6e6 !important;
	background-color: #444;
	color: #fff;
	border-radius: 0;
}

#nsw-td-ember-nav__coursenav .active .tab_content.dimmed {
	color: #fff !important;
}

/* Child tabs or sub-menu */
ul.nav.nav-tabs:nth-of-type(2) {
	background: #f2f2f2;
}



.content h2 {
	font-size: 30px !important;
	color: #53bbff !important;
	margin-top: 20px;
	margin-bottom: 10px;
}

.content h1 {
	font-size: 35px !important;
	color: #fff!important;
	padding: 15px;
	background-color: #0194e2;
}

p {
	margin: 0px 0px 10px !important;
}

h3,
h4 {
	margin-bottom: 10px !important;
	margin-top: 20px !important;
}

div[role="main"] h2 {
	padding: 10px 0 0 0;
}

.row-fluid table {
	line-height: 1em;
}
.course-content li.section ul{
	list-style: square !important;
    	padding-left: 40px;
}
.course-content li.section ol li:before,
.course-content li.section ul li:before {
	content: none !important;
}

.course-content ul.section ul {
	list-style: square !important;
	padding-left: 25px!important;
}

.course-content li.section ol li,
.course-content li.section ul li {
	padding-left: 3px !important;
	margin-left: 0 !important;
}

.btn-primary,
.btn-info {
	color: #fff !important;
}

.btn-default {
	color: #000 !important;
}

.section .activity .editing_move {
	z-index: 1;
}

.mform .fcheckbox>span,
.mform .fradio>span,
.mform .fgroup>span {
	line-height: 1 !important;
}

.availabilityinfo {
	margin: 0 0 0 0 !important;
	font-size: 0.5em;
	font-family: sans-serif;
	font-style: italic;
	opacity: .4;
	line-height: 1;
}

.availabilityinfo * {
	margin: 0;
	line-height: 1;
}

.menuwrapper li.selected {
	background-color: #444;
	color: #fff;
	border-bottom: 5px solid #e6e6e6;
	padding-top: 4px;
	margin-top: -3px;
	margin-right: 4px;
}

.block_fake {
	background-color: #f2f2f2;
	padding: 10px;
	margin-top: 20px;
}

.box>div>ul>li {
	margin-bottom: 10px;
	list-style: square;
}

@media screen and (min-width: 801px) {
	#padder {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}
